<%- include('includes/head')%>
<body>

<section class="container">
    <h1>
        <%numero.forEach(num=>{%>
        <%= num %> <br>
        <% }); %>     
    </h1>
    <form action="/" method="post">
        <label for="">cliente</label>
        <input type="text" name="cliente">
        <button>submite</button>
    </form>
</section>
<%- include('includes/footer')%>